<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBC NEWS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/styles.css') }} ">
</head>
<body>

    <!-- navbar block here-->
    {% block navbar %} {% include 'navbar.html' %} {% endblock %}

    {% for article in articles %}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="{{ article['url']}}" target="_blank"><h1>{{article.title}}</h1></a>
          <h2>{{ article.author }}</h2>
          <h2>{{ article.description }}</h2>
          <img width="300" src="{{ article ['urlToImage']}}" alt="">
          <p>{{ article['description']}}</p>
          <h2>{{ article['publishedAt']}}</h2>     
        </div>
      </div>
    </div>

   
    {% endfor %}


    <!-- footer block here-->
  {% block footer %} {% include 'footer.html' %} {% endblock %}
</body>
</html>